body{
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
border-bottom: 8px solid black;
}

.Encabezado{
    width: 100%;
    height: 65px;
    background-color: black;
    box-shadow: 0 0px 7px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

.Encabezado_logo{
    float: left;
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.Encabezado_info{
    float: left;
    width: 80%;
    height: 100%;
}

.logo{
    width: 50%;
    background-color: white;
    border: 8px solid white;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-left: 10px;
}

.Encabezado_label{
    font-size: 9px;
    color: white;
    text-align: end;
}

.Encabezado_name{
    color: white;
    text-align: end;
}

/*ROW*/
.row2{
    padding: 0 10px 0 8px;
    position: fixed;
    top: 65px;
    left: 0;
    right: 0;
    bottom: 8px;
}

/*Parte izquierda*/
.izquierda{
    padding: 10px;
    height: 100%;
    overflow: auto;
    box-shadow: 0 0px 7px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

.label_izquierda{
    font-weight: 600;
}

/*Parte derecha*/
.derecha{
    padding: 10px;
    height: 100%;
    overflow: auto;
}

@media screen and (max-width: 576px) {
    .row2{
        overflow: auto;
        padding: 0 0px 0 8px;
    }

    .logo{
        width: 65px;
    }

/*Parte izquierda*/
.izquierda{
    height: auto;
    overflow: hidden;
}

/*Parte derecha*/
.derecha{
    height: auto;
    overflow: hidden;
}

.Encabezado_logo{
    justify-content: center;
}
  }

.barras{
    background-color: gray;
}

